.client-section{
    margin-top: 150px;
}


.client-title{
    color: #22343D;
    padding-bottom: 8px;
    text-align: center;
    font-family: Poppins , sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; /* 167.647% */
    letter-spacing: 0.2px;
}
.client-text{
    color: #22343D;
    padding-bottom: 50px;
    text-align: center;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
    letter-spacing: 0.2px;
}
.client-cards{
    display: flex;
}
.wahid-card{
    width: 327px;
    padding: 28px 26px 24px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    background: var(--light-background, #FFF);
}
.wahid-card + .wahid-card{
    margin-left: 60px;
}
.wahid-text{
    color: var(--second-text-color, #737373);
    padding-top: 16px;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: 0.2px;
}
.wahid-info{
    display: flex;
    margin-top: 16px;
}
.wahid-kasb{
    margin-left: 14px;
}
.wahid-title{
    color: #02897A;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
}
.wahid-info-text{
    color: var(--text-color, #252B42);
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}
@media (max-width:768px){
    .client-cards{
        flex-direction: column;
        margin-left: 220px;
    }
    .wahid-card + .wahid-card{
        margin-top: 40px;
        margin-left: 0;
    }
}
@media (max-width:411px){
    .client-cards{
        margin-left: 0;
    }
}