
.site-footer{
    margin-top: 150px;
}
.footer{
    display: flex;
}
.social-icon-imgs{
    margin-top: 24px;
    display: flex;
    gap: 16px;
}
.resource{
    margin-left: 160px;
}
.list-title{
    color: #22343D;
    font-family: Poppins , sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}
.footer-list{
    margin-top: 8px;
}
.footer-link{
    color: #22343D;
    font-family: Poppins ,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 218.75% */
}
.footer__form-common{
    width: 280px;
    margin-left: 81px;
}
.form-title{
    color: #22343D;
    padding-bottom: 34px;
    font-family: Poppins , sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}
.footer-form{
    padding-bottom: 30px;
}
.footer-form > input{
    padding: 10px 128px 10px 15px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    outline: none;
    background: #FFF;
}
.footer__form-link{
    color: #FFF;
    padding: 8px 15px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #02897A;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: all 0.5s ease;
}
.footer__form-link:hover{
    color: #02897A;
    background: transparent;
    border: 1px solid #02897A;
}
.footer__last-text{
    color: #22343D;
    padding-top: 16px;
    text-align: center;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
@media (max-width:768px){
    .footer{
        text-align: center;
        flex-direction: column;
    }
    .social-icon-imgs{
        width: 100%;
        text-align: center;
    }
    .resource{
        margin-top: 40px;
        margin-left: 0;
    }
    .resource + .resource{
        margin-left: 0px;
    }
    .footer__form-common{
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
        margin-top: 50px;
        margin-left: 0;
    }
    .social-icon-imgs{
        justify-content: center;
    }
}