.site-header{
    padding: 20px 0;
    position: fixed;
    top: -1px;
    right: 0;
    left: 0;
  
    height: 80px;
  
    background-color: var(--white);
    z-index: 10;
    background: #fff;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.25);
}

.header{
    display: flex;
    align-items: center;
   
}
.header-navbar{
    margin-left: 237px;
}
.header-list{
    display: flex;
    align-items: center;
}
.header__list-item + .header__list-item{
    margin-left: 24px;
}
.header-item-link{
    color: #22343D;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;   
    transition: all 0.5s ease;
}
.font-change{
    color: #22343D;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
}
.header-item-link:hover{
    color: black;
}
.header__sign-in{
    color: #173A56;
    margin-left: 24px;
    padding: 10px 22px;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    transition: all 0.5s ease;
}
.header__sign-in:hover{
    color: white;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #02897A;
    background: #02897A;
}
.header__sign-up{
    color: #FFF;
    margin-left: 24px;
    padding: 10px 23px;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
    background: #02897A;
    border: 1px solid transparent;
    transition: 0.5s ease;
}
.header__sign-up:hover{
    color: #173A56;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    background: transparent;
}
.header-mode{
    margin-left: 24px;
}
.hamburger-menu{
    display: none;
}

@media (max-width:768px){
    .header{
        display: flex;
        justify-content: space-between;
    }
    .header-navbar{
        display: none;
    }
    .header__sign-in {
        display: none;
    }
    .header__sign-up {
        display: none;
    }
    .header-mode {
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
}
@media (max-width:411px){
    .header{
        width: 100%;
        justify-content: space-between;
    }
    .hamburger-menu{
        display: block;
    }
}
