.hero-section{
    margin-top: 25px;
}
.hero{
    display: flex;
}
.hero-content{
    width: 458px;
    margin-top: 145px;
}
.hero-title{
    color: #22343D;
    padding-bottom: 18px;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
}
.hero-text{
    color: #22343D;
    font-family: Poppins , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.hero-links{
    margin-top: 45px;
}
.get-started-link{
    color: #FFF;
    padding: 15px 41px;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #02897A;
    border-radius: 4px;
    border: 2px solid #02897A;
    transition: 0.5s;
}
.get-started-link:hover{
    color: #02897A;
    background: transparent;
    border: 2px solid #02897A;
}
.watch-link{
    color: #02897A;
    padding-left: 56px;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    background-image: url(../images/HERO/VIDEO-ICON.svg);
    background-repeat: no-repeat;
    background-position: 30px 0px;
    transition: 0.5s;
}
.watch-link:hover{
    color: #000;
}
.hero-img{
    margin-left: 33px;
}
@media (max-width:910px){
    .hero{
        flex-direction: column;
    }
    .hero-content{
        margin-left: 200px;
        padding-bottom: 100px;
        text-align: center;
        justify-content: center;
    }
}
@media (max-width:411px){
    .hero{
        flex-direction: column-reverse;
    }
    .hero-content{
        margin-left: 100px;
        margin-top: 0;
    }
    .hero-img{
        width: 338px;
        height: 310px;
        margin-left: 150px;
    }
}