.managment-section{
    margin-top: 150px;
}


.managment{
    display: flex;
}

.managment-content{
    width: 486px;
}
.managment-top{
    color: #22343D;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.managment-title{
    color: #22343D;
    padding-bottom: 131px;
    font-family: Poppins , sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.managment__main-title{
    color: #22343D;
    padding-bottom: 12px;
    font-family: Poppins , sans-serif; 
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
}
.managment-text{
    color: #22343D;
    padding-bottom: 25px;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.managment-img{
    margin-left: 100px;
}
@media (max-width:768px){
    .managment{
        flex-direction: column;
    }
    .managment-title{
        padding-bottom: 0px;
    }
    .managment-content{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 40px;
        text-align: center;
    }
}
@media (max-width:411px){
    .managment{
        flex-direction: column-reverse;
    }
    .managment-content{
        width: 100%;
        text-align: center;
    }
    
}

