.Price-section{
    margin-top: 150px;
}


.price-title{
    color: #22343D;
    text-align: center;
    font-family: Poppins , sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.price-text{
    color: #22343D;
    text-align: center;
    padding-bottom: 50px;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.price-cards{
    display: flex;
}
.price-free + .price-free{
    margin-left: 70px;
}
.price-free{
    width: 322px;
    padding-bottom: 32px;
    text-align: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}
.price-free:hover{
    background-color: #02897A;
    .free-title{
        color: white;
    }
    .free-text{
        color: #fff;
    }
    .free-price{
        color: white;
    }
    .free-item{
        color: white;
    }
    .free-link{
        color: #02897A;
        background-color: #fff;
    }
}
.free-title{
    color: #22343D;
    padding: 24px 0 0;
    font-family: Poppins , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
}
.free-text{
    color: #22343D;
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 250% */
}
.free-price{
    color: #02897A;
    text-align: center;
    font-family: Poppins , sans-serif;
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 131.579% */
    letter-spacing: 0.2px;
}
.free-month{
    color: var(--second-text, #AFAFAF);
    font-family: Poppins , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 118.75% */
    letter-spacing: 0.1px;
}
.free-list{
    padding: 16px 0 38px;
}
.free-item{
    color: #22343D;
    row-gap: 16px;
    /* Link */
    font-family: Inter ,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.2px;
}
.free-link{
    color: #FFF;
    padding: 11px 20px;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background-color: #02897A;
}